{% extends "base_generic.html" %}
{% block content %}
<p></p>
<p>Если забыли пароль, введите ЕДРПОУ и Ваш е-мейл, указанный при регистрации, на который вышлем инструкции по смене пароля.</p>
<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>ЕДРПОУ: <input type="text" minlength="8" maxlength="8" required name="edrpou"></p>
        <p>E-мейл: {{ form.email }}</p>
    <input type="submit" value="Отправить">
</form>

{% endblock %}