

    {% if invoice_list %}
            <table cellpadding="7" border="2" width="100%">
            <tr>

                <th>ЕДРПОУ</th>
                <th>Код в SAP</th>
                <th>Наименование</th>
                <th>ДТЭК</th>
                <th>Контракт</th>
                <th>Накладная</th>
                <th>Валюта</th>
                <th>Дата документа</th>
                <th>Дата оплаты</th>
                <th>Сумма, грн.</th>
                <th>Блокировка</th>

            </tr>
            {% for invoice in invoice_list %}
            <tr>


            <!-- <td> {{ invoice.id }} </td> -->
            <td> {{invoice.i_vendor_code}} </td>
            <td> {{invoice.sap_vendor_code}} </td>
            <td> {{invoice.i_vendor_name }} </td>
            <td> {{invoice.sap_entity_code }} </td>

            <td> {{invoice.vendor_contract_number}} </td>
            <td> {{invoice.vendor_document_code}} </td>
            <td> {{invoice.doc_currency}} </td>
            <td> {{invoice.doc_date}} </td>
            <td> {{invoice.doc_duedate}} </td>
            <td> {{invoice.doc_amount}} </td>
            <td> {{invoice.doc_payment_block}} </td>

            </tr>
            {% endfor %}
        </table>



    {% endif %}


